name: Build
on:
  pull_request:
  push:
    branches:
      - master
      - develop
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - name: Get the sources
        uses: actions/checkout@v2

      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Install .NET Core SDK 3.1.301
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.301'
